* {
    padding:0;
    margin:0;
}

body {
    background-color: #344e41;
    text-align:center;
    color:#dad7cd;
}

.container{
    height:70vh;
    width:70vh;
}

.game{
    height:60vmin;
    width:60vmin;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items:center;
    gap:1.5vmin;
}

.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border : none;
    box-shadow:0 0 1rem  rgba(0, 0, 0, 0.9);
    font-size:8vmin;
    color:#0d1b2a
}

#reset-btn{
    border-radius: 1rem;
    border : none;
    padding:0.9rem;
    font-size: 1.2rem; 
    background-color: #dad7cd;
}

#new-btn{
    border-radius: 1rem;
    border : none;
    padding:0.9rem;
    font-size: 1.2rem; 
    background-color: #dad7cd;
}

#msg{
    color:dad7cd;
    font-size:5vmin;
}

.hide{
    display:none;
}

.x-text{
    color: #ff3366;
}
.o-text {
    color: #4CAF50;
}